/* About section */
.sidebar-about h1 {
  font-size: 2.0rem;
}

.sidebar .feed {
  display: inline;
  margin: 0px;
  background-image: url("/images/feed.png");
}

.content footer {
  margin-top: 40px;
}

code {
  color: #ec4191;
}
